* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

::selection {
  color: orange;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.main h1 {
  font-size: 12rem;
  font-weight: 600;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.foreground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  gap: 5;
  flex-wrap: wrap;
}
.foreground .card{
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}
.foreground .card .card-footer .download_icon{
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
@media (max-width:767px) {
  .main h1 {
    font-size: 6rem;
  }
  .foreground{
    gap: 1rem !important;
  }
}
